html{
   background-color: plum;  
}

.body{
   display: block;
   margin: 8px;  
}
.header{
    text-align: center;
}

label,
input {
  display: block;
  margin-top: 0.5rem;
  width: 100%;
}
label {
    font-weight: 500;
    font-size: 1.3rem;
  }
  input {
    border-radius: 5px;
   
    border: transparent;
    font-size: large;
    margin: 1rem 0;
  }
.user-date-lable{
    text-align: center;
    color: white;
}
.container{
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 1rem;
    background-color: transparent;
    margin: auto;
}
.user-date{
    margin: 1rem auto;
    width:  16rem;
}
.lucky-no {
    margin: 1rem auto;
    
}
.click{
    width: 3rem;
    margin: auto;
}
.output{
    margin: 1rem auto;
    height: 4rem;
    font-size: 2rem;
    font-weight: bold;
    color: aliceblue;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.footer-list {
     display: flex;
    flex-direction: column;
    margin: 1rem;
}
a, img, li {
    display: inline;
}
